<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Gestión del Tiempo</h1>
        <nav>
            <a href="/users">Usuarios</a>
            <a href="/activities">Actividades</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>