<!DOCTYPE html>
<html>
<head>
    <title>Detalles de la Actividad</title>
</head>
<body>
    <h1>Detalles de la Actividad</h1>
    <p><strong>ID:</strong> <%= activity.id %></p>
    <p><strong>Nombre:</strong> <%= activity.name %></p>
    <p><strong>Descripción:</strong> <%= activity.description %></p>
    <a href="/activities">Volver a la lista de actividades</a>
</body>
</html>