<!DOCTYPE html>
<html>
<head>
    <title>Gestión del Tiempo</title>
</head>
<body>
    <h1>Bienvenido a la Aplicación de Gestión del Tiempo</h1>
    <ul>
        <li><a href="/users">Ver Usuarios</a></li>
        <li><a href="/habits">Ver Hábitos</a></li>
        <li><a href="/activities">Ver Actividades</a></li>
        <li><a href="/projects">Ver Proyectos</a></li>
        <li><a href="/categories">Ver Categorías</a></li>
        <li><a href="/activity-logs">Ver Registros de Actividades</a></li>
    </ul>
</body>
</html>